<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Simple Reporter Suite">
	<listeners>
		<listener class-name="org.beautifier.testng.html.HTMLReporter" />
	</listeners>

	<test name="Simple Reporter test #1">
		<packages>
			<package name="org.beautifier.testng.pdf.sample"></package>
		</packages>
	</test>
	<test name="Simple Reporter test #2">
		<packages>
			<package name="org.beautifier.testng.pdf.sample"></package>
		</packages>
	</test>
</suite>